/* text  */
.text-left {
    text-align: left;
}

.text-start {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-underline {
    text-decoration: underline;
}

.fw-bold{
    font-weight: bold;
}


/* Margin */
.mb-0 {
    margin-bottom: 3px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

/* table  */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding-left: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.td-white {
    border: 1px solid white;
}

.thead {
    background-color: #D1D2D4;
    padding: 5px;
    padding-right: 10px;
}

.th {
    /* text-align: center; */
}
.td-blue {
    background: #0b5394;
    color: white;
}

.bg-blue{
    background-color: slategray;
    /* background-color: #0d6efd; */
}

.jour{
    width: 20px;
    text-align: center;
    background-color: #d9d9d9;
}
.jour2{
    background-color: #efefef;
}

.semaine{
    background-color: #434343;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.text-blue{
    color: #0b5394;
}
.text-grey{
    color: #434343;
}
.text-gray{
    color: #434343;
}

.bg-blue {
    background-color: #4472c4;
}
.bg-gray {
    background-color: #434343;
}
.td-dotted{
    border-style: dotted;
}
.td-border-left{
    border-left-style: solid;
}
.td-border-left{
    border-left-style: solid;
}

.tr-bottom{
    border-bottom: 2px solid black;
}


